<ion-header>

  <ion-navbar>
    <ion-title>LOGIN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #serverForm="ngForm" (ngSubmit)="cambiarUrlServidor()" autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-label>Url del servidor qrQuinielista</ion-label>
            <ion-item>
              <ion-input placeholder="Servidor" name="server" id="server" type="text" required [(ngModel)]="serverUrl" #server></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button class="submit-btn" type="submit" full [disabled]="!serverForm.form.valid">Cambiar url</button>
        </ion-col>
      </ion-row>
    </form>

    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-label>Identificación del usuario</ion-label>
            <ion-item>
              <ion-input placeholder="Email" name="username" id="loginField" type="text" required [(ngModel)]="username" #email></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Constraseña" name="password" id="passwordField" type="password" required [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login
          </button>
        </ion-col>
      </ion-row>
    </form>
</ion-content>
