<div id="m-overlay" *ngIf="verMOverlay" (click)="clickInMOverlay()">

</div>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>QR Gordo. Disparo modo {{modoDisparo == '0' ? 'Teléfono': 'Automático'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="text-center">
  <ion-refresher (ionRefresh)="obtenerInfoSorteo($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
  
    <h5 class="fs-14 mb-0">{{dia | diaSemana}} Semana {{num_sorteo}} {{temporada}} Sorteo ({{fecha_sorteo | unixToLocaleDateFullDays}})</h5>
    
    <div *ngIf="validaciones && validaciones.length > 0" class="resumen-validacion">
      <span (click)="verDetalle($event)">Estado de la validación [ {{validacion.resguardosConNumeroA}} <ion-icon name="ios-checkmark-circle"></ion-icon> de {{validacion.resguardosTotales}} <ion-icon name="document"></ion-icon>]</span>
    </div>
    <div *ngIf="validaciones && validaciones.length > 0" class="resumen-validacion">
      <a href="{{baseUrl + '/' + validacion.pdf}}" target="_blank">Ver pdf</a>
    </div>
    
    <ion-item *ngIf="validaciones && validaciones.length > 0">
      <ion-label>Validación</ion-label>
      <ion-select [(ngModel)]="validacion" [compareWith]="compareFn">
        <ion-option ngClass="{'finalizada': val.resguardosConCodigo == val.resguardosTotales}" *ngFor="let val of validaciones" [value]="val">{{val.num_validacion}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <div *ngIf="verMarco">
    <svg width="100%" height="130%" style="position: absolute; top: 0px; left: 0;z-index: -1">
      <mask x="0" y="0" id="cut">
        <rect y="0" x="0" width="100%" height="100%" fill="white"></rect>
        <rect y="37%" x="38%" width="25%" height="15%" stroke-width="30%" stroke="black" fill="transparent"></rect>
      </mask>
      <rect y="0" x="0" width="100%" height="100%" fill="#fff" mask="url(#cut)" style="fill: rgb(224, 224, 224, 0.7);"></rect>
    </svg>
  </div>
  
</ion-content>

<ion-footer class="fondo-blanco">
  <div class="botones">
    <button ion-button strong color="secondary" (click)="scan()" *ngIf="!escaneando" [disabled]="disableScanner">Escanear QR</button>
    <button ion-button strong color="danger" (click)="cancelarScanner()" *ngIf="escaneando">Cancelar</button>
  </div>
</ion-footer>
