<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sellar QR {{juego}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="text-center">
  
  <ion-slides (ionSlideDidChange)="slideChanged()">
    
    <ion-slide *ngFor="let boleto of boletos; let i = index">
      <p class="titulo">Boleto {{boleto.boleto}} de {{validacion.resguardosTotales}}</p><br />
      <p >(id_boleto: {{boleto.id_boleto}} <span *ngIf="boleto.clon">- Clon: {{boleto.clon}}</span>)</p>
      <p>{{juego}} Validacion {{validacion.num_validacion}}</p>
      <p *ngIf="juego == 'Quinigol' || juego == 'Elige8'">Jornada {{validacion.jornada}} - {{validacion.temporada}}</p>
      <p *ngIf="juego != 'Quinigol' && juego != 'Elige8'">{{DIAS_TEXTO[validacion.dia]}} Semana {{validacion.jornada}} - {{validacion.temporada}}</p>
      <p>{{apuestas.length}} apuestas</p>
      <img *ngIf="generated" [src]="generated"/>
      <p class="apuestas" *ngFor="let a of apuestas">{{a}}</p>
      <ng-container *ngIf="boleto && boleto.elige8">
        <p class="apuestas">{{boleto.elige8}}</p>
      </ng-container>
      <p class="codigoQrBoleto">{{codigoQrBoleto}}</p>
    </ion-slide>
    
  </ion-slides>
  
</ion-content>

<ion-footer class="fondo-blanco">
  
</ion-footer>
