carrusel {

    .titulo {
        font-weight: bold;
    }

    .fondo-verde {
        background-color: #e8f5e8;
    }

    .ws-initial {
        white-space: initial;
    }

    .fs-12 {
        font-size: 12px;
    }

    p {
        margin: 2px;
        font-size: 14px;
    }

    p.titulo {
        font-size: 24px;
    }

    .apuestas {
        font-family: monospace;
        font-size: 14px;
    }

    .codigoQrBoleto {
        font-size: 14px;
        font-family: monospace;
        margin-top: 20px;
        padding: 5px;
        background-color: #e6e2e2;
        font-weight: bold;
    }
}

