// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toast-scanned{
    .toast-wrapper{
        background: green;
        color: white;
        margin: 0 auto;
    }
}

.toast-error{
    .toast-wrapper{
        background: red;
        color: white;
        margin: 0 auto;
    }
}

html.scanning {
          
    ion-app {
        background-color: transparent;
        ng-component {
            background-color: transparent;
            ion-nav{
                background-color: transparent;
                page-home{
                    background-color: transparent;
                    ion-content{
                        background-color: transparent;
                    }
                }
                page-bonoloto{
                    background-color: transparent;
                    ion-content{
                        background-color: transparent;
                    }
                }
                page-nacional{
                    background-color: transparent;
                    ion-content{
                        background-color: transparent;
                    }
                }
                page-quinigol{
                    background-color: transparent;
                    ion-content{
                        background-color: transparent;
                    }
                }

                page-gordo{
                    background-color: transparent;
                    ion-content{
                        background-color: transparent;
                    }
                }
                page-lototurf{
                    background-color: transparent;
                    ion-content{
                        background-color: transparent;
                    }
                }
                page-elige8{
                    background-color: transparent;
                    ion-content{
                        background-color: transparent;
                    }
                }
            }
        }
    }
    
}