<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="authService.isAuthenticated()">{{authService.user.name}}</ion-title>
      <ion-title *ngIf="!authService.isAuthenticated()">Usuario no logueado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="authService.isAuthenticated()">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logout()">Logout</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>