<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Boletos {{juego}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="text-center">
  
  <h4>Detalle de los boletos Validación {{validacion.num_validacion}}</h4>
  
  <ion-list>
    <ng-container *ngIf="juego != 'Elige8'">
      <ion-item *ngFor="let boleto of boletos; let i = index" [ngClass]="{'fondo-verde': boleto.codigos_millon || boleto.reintegro || boleto.numero_a}" (click)="verCarrusel(boleto)">
        <ion-label>
          <p class="titulo">Boleto {{boleto.boleto}} (id_boleto: {{boleto.id_boleto}})</p>
          <p class="fs-12" *ngFor="let a of boleto.arrApuestasBoleto; let i = index;">
            {{a}} - <span *ngIf="boleto.arrCodigosMillon && boleto.arrCodigosMillon[i]">{{boleto.arrCodigosMillon[i]}}</span>
          </p>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="juego == 'Elige8'">
      <ion-item *ngFor="let boleto of boletos; let i = index" [ngClass]="{'fondo-verde': boleto.codigos_millon || boleto.reintegro || boleto.numero_a}" (click)="verCarrusel(boleto)">
        <ion-label>
          <p class="titulo">Boleto {{boleto.boleto}} (id_boleto: {{boleto.id_boleto}})</p>
          <p class="fs-12">1X2: {{boleto.arrApuestasBoleto}} <span *ngIf="boleto.arrCodigosMillon">- {{boleto.arrCodigosMillon[i]}}</span></p>
          <p class="fs-12" >Elige8: {{boleto.elige8}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  
</ion-content>

<ion-footer class="fondo-blanco">
  
</ion-footer>
