detalle-validacion {

    .titulo {
        font-weight: bold;
    }

    .fondo-verde {
        background-color: #e8f5e8;
    }

    .ws-initial {
        white-space: initial;
    }

    .fs-12 {
        font-size: 12px;
    }

}

