page-quinigol {

    .botones{
        margin: 0 auto;
        text-align: center;
        button{
            height: 60px;
        }
    }

    .fondo-blanco{
        background-color: white;
    }

    .full-text{
        white-space: normal;
    }

    .text-center{
        text-align: center;
    }

    .marco{
        margin-top: 100px;
        height: 220px;
        width: 220px;
        border: 2px solid blue;
        display: inline-block;
        background-color: transparent;
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 1.5rem;
        font-weight: 500;
        color: #424242;
    }

    .resumen-validacion{
        font-size: 20px;
        text-align: left;
        background-color: white;
        text-align: right;
        padding: 10px;
    }

    ion-icon{
        color: green;
        position: relative;
        top: 1px;
    }

    .fs-19 {
        font-size: 19px;
    }

    .mt-10 {
        margin-top: 10px;
    }

    .mb-10 {
        margin-bottom: 10px;
    }

    .caratula {
        font-size: 20px;
        padding: 10px;
        background-color: #e6e2e2;
        font-weight: bold;
        text-align: center;
    }

}

#m-overlay {
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    contain: strict;
    z-index: 1000000;
}

