page-configuracion {

    .botones{
        margin: 0 auto;
        text-align: center;
        button{
            height: 60px;
        }
    }

    .fondo-blanco{
        background-color: white;
    }

    .full-text{
        white-space: normal;
    }

    .text-center{
        text-align: center;
    }

    .marco{
        margin-top: 100px;
        height: 220px;
        width: 220px;
        border: 2px solid blue;
        display: inline-block;
        background-color: transparent;
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 1.5rem;
        font-weight: 500;
        color: #424242;
    }

    .resumen-validacion{
        font-size: 20px;
        text-align: left;
        background-color: white;
        text-align: right;
        padding: 10px;
    }

    ion-icon{
        color: green;
        position: relative;
        top: 1px;
    }

    .fs-14 {
        font-size: 14px;
    }

    .mt-10 {
        margin-top: 10px;
    }
    .mt-20 {
        margin-top: 20px;
    }

    .mb-10 {
        margin-bottom: 10px;
    }

    .contenedor-juegos {
        margin-top: 100px;
        padding: 40px 0px;
        border: #d1d1d4 2px solid;
        ion-img {
            margin-right: 20px;
            margin-left: 20px;
            background: transparent
        }

        .fondo-azul {
            background-color: #007ac0;
        }
    }

    .text-input.text-input-md {
        text-align: right;
    }

    ion-select {
        max-width: 70% !important;
    }

    

}

#m-overlay {
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    contain: strict;
    z-index: 1000000;
}

