<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CONFIGURACIÓN</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="text-center">
  <ion-list>
    <ion-item>
      <ion-label>Modo disparo</ion-label>
      <ion-select [(ngModel)]="modoDisparo" placeholder="Seleccione modo">
        <ion-option value="0">Teléfono</ion-option>
        <ion-option value="1">Automático</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Modo error</ion-label>
      <ion-select [(ngModel)]="modoError" placeholder="Seleccione modo">
        <ion-option value="0">Error no desaparece</ion-option>
        <ion-option value="1">Error desaparece tras 1 sg</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Id Receptor</ion-label>
      <ion-input placeholder="Text Input" [(ngModel)]="idReceptor"></ion-input>
    </ion-item>
  </ion-list>

  <button (click)="guardar()" ion-button full>Guardar</button>

  <div class="contenedor-juegos">
    <ion-img class="mt-20" (click)="irA('bonoloto')" width="80" height="80" src="assets/imgs/bonoloto.svg"></ion-img>
    <ion-img class="mt-20" (click)="irA('euromillones')" width="80" height="80" src="assets/imgs/euromillones.svg"></ion-img>
    <ion-img class="mt-20" (click)="irA('quinigol')" width="80" height="80" src="assets/imgs/quinigol.svg"></ion-img>
    <ion-img class="mt-20" (click)="irA('gordo')" width="80" height="80" src="assets/imgs/gordo.svg"></ion-img>
    <ion-img class="mt-20 fondo-azul" (click)="irA('elige8')" width="80" height="80" src="assets/imgs/logo_elige8.svg"></ion-img>

  </div>
  
</ion-content>

<ion-footer>
  
</ion-footer>
